*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar 
{
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center; /* Center the item horizontally */
  align-items: center;     /* Center the item vertically */
  font-size: 1.2rem;      /* 1 rem = 16 px. 1.2rem == 19.2px*/
  position: sticky;       /* Keeps position absolute */
  top: 0;      
  background-color: greeen;  
  width: 100%;  
  z-index: 4;
}
.navbar_container 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 40%;
  max-width: 2500px;
  margin-right: auto; /* Space around border to the right */
  margin-left: auto;  /* Space around border to the left */
  padding-right: 50px; 
  padding-left: 50px; /* Distance from left side of page */
  background-color: bluee;
}

#camera-logo {
  background-color: white;
  z-index: 999;
}
.navbar-links {
  
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: yeellow;
  width: 100%;
}

.navbar-links a {
  background-color: aquamarinee;
  height: 70px;
  float: left;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.navbar-links  a:hover {
  transition: 0.3s ease;
  color: #caac00;
}

.navbar-links  .icon {
  display: none;
}

.footer {
  background: rgba(0,0,0,0.5);
  display: flex;
  width: 100%;
  color: #fff;
  padding: 100px 15%;
  margin-top: 20vh;
  justify-content: center;
}

.footer div {
text-align: center;

}

.contact {
flex-grow: 2;
}

.footer div h2 {
font-weight: 300;
margin-bottom: 3vh;
letter-spacing: 1px;
}
.links a {
display: block;
text-decoration: none;
color: #efefef;
margin-bottom: 1vh;
}

.links a:hover {
color: #caac00;

}
.contact a {
display: block;
text-decoration: none;
color: #efefef;
margin-bottom: 1vh;
width: 15%;
margin-left: auto;
margin-right: auto;
}

.contact a:hover {
color: #caac00;
}

.social-icons a {
font-size: 3vh;
cursor: pointer;
margin: 1vh;
text-decoration: none;
color: #fff;
}

.social-icons a:hover {
color: #caac00;
}