.gallery {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 30px;
}

.collection_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

#gallery_h1 {
  color: #caac00;
  align-self: center;
  position: absolute;
  font-size: 3rem;
  margin-top: 1rem;
}

.second_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  margin-top: 5rem;
}
.collection_images {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    height: 500px;
    text-align: center;
    color: white;
    border-color: black;
    position: relative;
}
#gallery_img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
    border-style: solid;
    border-color: #caac00;
    border-width: 0.1px;
}

.middle {
  position: absolute;
  height: 100%;
  width: 100%;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: auto;
  height: 400px;
  flex-direction: column;
  opacity: 1;
  font-size: 1.1rem;
  text-decoration: none;
  color: #caac00;
}

#click_to_expand {
  font-style: italic;
}

@media (hover: hover) {
  .desc {
    height: 400px;
    padding-top: 0;
    opacity: 0;
    justify-content: center;
    padding-bottom: 0;
  }
  .desc:hover{
    transition: 0.5s ease;
    color: #caac00;
    opacity: 1;
    background: rgba(0,0,0,0.6);
    border-style: solid;
    border-color: #caac00;
    border-width: 0.1px;
  }

}


@media screen and (max-width: 700px) {
  #gallery_h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 545px) {
  #gallery_h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 445px) {
  #gallery_h1 {
    font-size: 1.5rem;
  }

  #gallery_img {
    width: 250px;
    height: 350px;
  }
  .collection_images {
    height: 400px;
  }
  .desc {
    height: 350px;
    margin-top: 25px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 350px) {
  #gallery_h1 {
    font-size: 1.2rem;
  }
  #gallery_img {
    width: 200px;
    height: 300px;
  }
  .collection_images {
    height: 350px;
  }
  .desc {
    height: 300px;
    margin-top: 25px;
    font-size: 0.7rem;
  }
}