.main-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 22em;
}

.coming-soon-h1 {
    color: #caac00;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

.main-container a {
    color: #b39c17;
    text-decoration: none;
    font-size: 1.5em;
}

.main-container a:hover {
    font-size: 1.6em;
    color: white;
}

@media screen and (max-width: 960px) {
    .coming-soon-h1 {
        font-size: 2.5em;
    }
    .main-container a {
        font-size: 1.2em;
    }
    .main-container a:hover {
        font-size: 1.4em;
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .coming-soon-h1 {
        font-size: 2.0em;
    }
    .main-container a {
        font-size: 0.9em;
    }
    .main-container a:hover {
        font-size: 1.2em;
        color: white;
    }
}

@media screen and (max-width: 645px) {
    .coming-soon-h1 {
        font-size: 1.5em;
    }
    .main-container a {
        font-size: 1em;
    }
    .main-container a:hover {
        font-size: 0.9em;
        color: white;
    }
}