
.gallery {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 30px;
}

.collection_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

#gallery_h1 {
  color: #caac00;
  align-self: center;
  position: absolute;
  font-size: 3rem;
  margin-top: 1rem;
}

.second_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  margin-top: 5rem;
}
.collection_images {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 380px;
  position: relative;
}
#gallery_img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
}

.middle {
  position: absolute;
  height: 100%;
  width: 100%;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: auto;
  height: 300px;
  opacity: 0;
  flex-direction: column;
  font-size: 1.3rem;
  text-decoration: none;
}

@media (hover: hover) {
  
  .desc:hover{
    transition: 0.5s ease;
    color: #caac00;
    opacity: 1;
  
  }  
}

.collections-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: auto;
  height: 300px;
  flex-direction: column;
  font-size: 1.5rem;
  text-decoration: none;
  color: #caac00;
  background: rgba(0,0,0,0.6);

}

#caption:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
#click_to_expand {
  font-size: 0.7rem;
  text-decoration: none;
  color: #caac00;
}


@media screen and (max-width: 450px) {
  #gallery_h1 {
    font-size: 2rem;
  }
  #gallery_img {
    width: 250px;
    height: 250px;
  }
  .collections-desc {
    height: 250px;
    margin-top: 65px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  #gallery_h1 {
    font-size: 2rem;
  }
  #gallery_img {
    width: 220px;
    height: 220px;
  }
  .collections-desc {
    height: 220px;
    margin-top: 80px;
    font-size: 1rem;
  }
}