.gallery {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 30px;
  }
  
  .collection_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
    margin-bottom: 50px;
  }
  
  #gallery_h1 {
    color: #caac00;
    align-self: center;
    position: absolute;
    font-size: 3rem;
    margin-top: 1rem;
  }
  
  .second_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    margin-top: 5rem;
  }
  .collection_images {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
  
      height: 500px;
      text-align: center;
      color: white;
      border-color: black;
      position: relative;
  }
  #gallery_img {
      width: 1000px;
      height: 400px;
      object-fit: cover;
      margin-top: auto;
      margin-bottom: auto;
      border-style: solid;
      border-color: #caac00;
      border-width: 0.1px;
  }
  
  .middle {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: auto;
    height: 400px;
    opacity: 0;
    flex-direction: column;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  .desc:hover{
    transition: 0.5s ease;
    color: #caac00;
    opacity: 1;
    background: rgba(0,0,0,0.6);
    border-style: solid;
    border-color: #caac00;
    border-width: 0.1px;
  }

  @media screen and (max-width: 1370px) {
    #gallery_img {
      width: 800px;
      height: 320px;
    }
    .collection_images {
      height: 450px;
    }
  }

  @media screen and (max-width: 1100px) {
    #gallery_img {
      width: 600px;
      height: 240px;
    }
    .collection_images {
      height: 300px;
    }
  }
  @media screen and (max-width: 840px) {
    #gallery_img {
      width: 400px;
      height: 160px;
    }
    .collection_images {
      height: 200px;
    }
    #gallery_h1 {
      font-size: 2.3em;
    }
  }
  
  @media screen and (max-width: 545px) {
    #gallery_h1 {
      font-size: 2rem;
    }
    #gallery_img {
      width: 300px;
      height: 120px;
    }
  }

  @media screen and (max-width: 445px) {
    #gallery_h1 {
      font-size: 1.5rem;
    }
  
    #gallery_img {
      width: 250px;
      height: 100px;
    }
    .collection_images {
      height: 130px;
    }
  }
  
  @media screen and (max-width: 350px) {
    #gallery_h1 {
      font-size: 1.2rem;
    }
    #gallery_img {
      width: 200px;
      height: 80px;
    }
    .collection_images {
      height: 100px;
    }
  }